
.productlist-filter-container{
    display: flex;
    justify-content: space-between;
}

.productlist-title{
    margin: 20px;
}

.productlist-filter{
    margin: 20px;
}

.productlist-filtertext{
    font-size: 26px;
    font-weight: 600;
    margin-right: 20px;
}

.productlist-select{
    padding: 10px;
    margin: 20px;
}