.cart-wrapper{
    padding: 20px;
}

.cart-wrapper-title{
    font-weight: 300;
    text-align: center;
}

.wrapper-top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.wrapper-top-button{
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid black;
}

.wrapper-top-text{
    text-decoration: underline;
    cursor: pointer;
    margin: 0px 10px;
}

.wrapper-bottom-container{
    display: flex;
    justify-content: space-between;
}

.bottom-info{
    flex: 3;
}

.info-product{
    display: flex;
    justify-content: space-between;
}

.product-productdetail{
    display: flex;
}

.productdetail-image{
    width: 200px;
}   

.productdetail-detail{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}   

.detail-productcolor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

.product-pricedetail{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pricedetail-productamount-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.productamount, .productamount-add, .productamount-remove{
    font-size: 18px;
    margin: 5px;
    font-weight: 500;
}

.pricedetail-productprice{
    font-size: 22px;
    font-weight: 300;
}

.hr{
    background-color: #eee;
    border: none;
    height: 1px;
}

.bottom-summary-container{
    flex: 1;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    height: 50vh;
}

.summary-title{
    font-weight: 200;
}

.summary-item{
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.summary-item-button{
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
}


@media screen and (max-width: 380px){
    .cart-wrapper{
        padding: 10px;
    }

    .wrapper-top-text{
        display: none;
    }

    .wrapper-bottom-container{
        flex-direction: column;
    }

    .info-product{
        flex-direction: column;
    }

    .productamount{
        margin: 5px 15px;
    }

    .pricedetail-productprice{
        margin-bottom: 20px;
    }
}